<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
    <title>Document</title>
</head>
<body>

    <div id="app">

        <h1>교재 정보</h1>
            <div v-for="(book,idx) in bookList" :key="idx">
                <input type = "checkbox" v-model = "books" :value="book">
                    {{book.name}} <span>{{book.price}}</span>
                    <button @click="delOne(idx)">삭제</button>
            </div>
        <hr>
        <button @click="delAll()"> 전체 삭제 </button>
        <div v-for="(book,i) in books" :key="book.name">{{book.name}}</div>
    </div>

    <script>
        var app = new Vue({
            el:'#app',
            data:{
                bookList:[
                    {name:'자바의 정석', price:2},
                    {name:'JSP의 정석', price:3},
                    {name:'SPRING의 정석', price:5},
                    {name:'jQuery의 정석', price:10},
                    {name:'Angular의 정석', price:8}
                ],
                books:[],
                //book_idx=""
            },
            methods:{
                delOne(idx){
                    this.bookList.splice(idx,1);
                },
                delAll(){
                    var temp = this.bookList;
                    this.books.map(function(ele,idx){
                        xx.map(function(e,i){
                            if(e.name==ele.name){
                                temp.splice(i,1);
                            }
                        })
                    })
                }
            }
        });
        
    </script>
</body>
</html>