<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
    <title>Document</title>
</head>
<body>

    <div id="app">
        <h3>배열객체반복</h3>
        <ul>
            <!-- Vue에서 개별 DOM 노드들을 추적하고 기존 엘리먼트를 재사용, 재정렬하기 위해서 v-for의 각 항목들에 고유한 key 속성을 제공해야 합니다. 
            key에 대한 이상적인 값은 각 항목을 식별할 수 있는 고유한 ID -->
            <li v-for="(hero,idx) of heroes" :key="idx">
                {{idx+1}}. {{hero}}
            </li>
        </ul>
        <hr>
        <ul>
            <li v-for="(value,key,index) of ironMan" :key="key">
                {{index}}:{{key}}:{{value}}
            </li>
        </ul>
    </div>


    <script>
        var app = new Vue({
            el:'#app',
            data:{
                heroes:["아이언","헐","캡틴","비전"],
                ironMan:{
                    name:"토니",
                    nickname:"깡통"
                }
            }
        });
        
    </script>
</body>
</html>